<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright (C) 2016 Luca Di Maio <luca.dimaio1@gmail.com>
  ~
  ~ This file is part of ThunderMusic Player.
  ~
  ~ ThunderMusic is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU Library General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or (at your
  ~ option) any later version.
  ~
  ~ ThunderMusic is distributed in the hope that it will be useful, but
  ~ WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  ~ or FITNESS FOR A PARTICULAR PURPOSE.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luca89.thundermusic"
    android:versionCode="300"
    android:versionName="3.0.0">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- To set Alarm and Ringtone -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- For ChatHead notification -->

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- Custom Lockscreen -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Read/Write on SDCARD -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- Modify Volume -->

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Wakelock during playback -->

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Online Capabilities and bug reporting-->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Check connection availability -->

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Per vibrare nella lockscreen -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- Send/Receive command via BT -->


    <application
        android:name=".ThunderMusicApplication"
        android:allowBackup="true"
        android:allowTaskReparenting="true"
        android:alwaysRetainTaskState="true"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_music"
        android:label="@string/musicbrowserlabel"
        android:taskAffinity="android.task.music"
        android:theme="@style/StartupTheme"
        android:uiOptions="none">
        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.luca89.thundermusic.activities.QueryBrowserActivity" />

        <activity android:name="com.luca89.utils.activities.Permission">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MUSIC" />
            </intent-filter>
        </activity>

        <activity android:name="com.luca89.thundermusic.MixRadioActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".OnlineActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PlaylistBrowserActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <receiver
            android:name="com.luca89.service.MediaButtonIntentReceiver"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.luca89.thundermusic.activities.MediaPlaybackActivity"
            android:clearTaskOnLaunch="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:uiOptions="none">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MUSIC_PLAYER" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:host="media" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
                <data android:mimeType="application/x-flac" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.luca89.thundermusic.PLAYBACK_VIEWER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luca89.thundermusic.OnlineActivity" />
        </activity>

        <activity
            android:name="com.luca89.thundermusic.activities.MediaLockscreenActivity"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:theme="@style/LockscreenTheme" />
        <activity
            android:name="com.luca89.thundermusic.activities.MediaPlaybackCarModeActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:theme="@style/LockscreenTheme" />
        <activity
            android:name="com.luca89.thundermusic.activities.AudioPreview"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
                <data android:mimeType="application/x-flac" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
                <data android:mimeType="application/x-flac" />
            </intent-filter>
            <intent-filter android:priority="-1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
                <data android:mimeType="application/x-flac" />
            </intent-filter>
        </activity>
        

        <activity
            android:name=".activities.TrackOnlinePlaylistBrowser"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Holo">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.luca89.utils.activities.OnlineSearchClearHistory"
            android:exported="false"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />
        <activity
            android:name="com.luca89.utils.activities.CreatePlaylist"
            android:exported="false"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />
        <activity
            android:name="com.luca89.utils.activities.BackupRestore"
            android:exported="false"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />
        <activity
            android:name="com.luca89.utils.activities.RenamePlaylist"
            android:exported="false"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />
        <activity
            android:name="com.luca89.views.WeekSelector"
            android:exported="false"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />
        <activity
            android:name="com.luca89.thundermusic.activities.LyricsActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />
        <activity
            android:name="com.luca89.utils.activities.SearchPopup"
            android:exported="false"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />
        <activity
            android:name="com.luca89.thundermusic.activities.AlbumFetchActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />

        <service
            android:name="com.luca89.thundermusic.MediaPlaybackService"
            android:exported="false" />

        <activity
            android:name=".activities.PreferencesActivity"
            android:exported="false" />

        <receiver
            android:name="com.luca89.thundermusic.widgets.MediaAppWidgetProvider4x1"
            android:label="Music (4x1) Dark">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget4x1_info" />
        </receiver>
        <receiver
            android:name="com.luca89.thundermusic.widgets.MediaAppWidgetProvider4x2"
            android:label="Music (4x2) Dark">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget4x2_info" />
        </receiver>
        <receiver
            android:name="com.luca89.thundermusic.widgets.MediaAppWidgetProvider2x1"
            android:label="Music (2x1) Dark">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget2x1_info" />
        </receiver>
        <receiver
            android:name="com.luca89.thundermusic.widgets.MediaAppWidgetProvider4x4"
            android:label="Music (4x4) Dark">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget4x4_info" />
        </receiver>
        <receiver
            android:name="com.luca89.thundermusic.widgets.MediaAppWidgetProvider4x1_Light"
            android:label="Music (4x1) Light">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget4x1_light_info" />
        </receiver>
        <receiver
            android:name="com.luca89.thundermusic.widgets.MediaAppWidgetProvider4x2_Light"
            android:label="Music (4x2) Light">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget4x2_light_info" />
        </receiver>
        <receiver
            android:name="com.luca89.thundermusic.widgets.MediaAppWidgetProvider2x1_Light"
            android:label="Music (2x1) Light">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget2x1_light_info" />
        </receiver>
        <receiver
            android:name="com.luca89.thundermusic.widgets.MediaAppWidgetProvider4x4_Light"
            android:label="Music (4x4) Light">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget4x4_light_info" />
        </receiver>
    </application>

</manifest>
